/* -------------------------------- Language -------------------------------- */
.language {
  position: relative;
  margin-top: 18px;
}
.language_icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.language_icon:focus ~ .language_sub_menu {
  visibility: visible;
}
.language_icon img {
  width: 30px;
  height: 30px;
}
.language_sub_menu {
  visibility: hidden;
  position: absolute;
  top: 30px;
  right: -130px;
  height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  border-radius: 15px;
  width: 160px;
}
.language_sub_menu li {
  display: flex;
  direction: ltr;
  padding: 13px;
  margin-right: -25px;
  margin-bottom: 5px;
  margin-top: -5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.language_sub_menu li:hover span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -9px;
  border-radius: 15px 0 0 15px;
  padding: 8px 80px;
  height: 35px;
  background-color: #ececec48;
  transition: all 0.2s ease-in-out;
}
.language_sub_menu li:hover {
  color: #ef1b2b;
  transition: all 0.2s ease-in-out;
}
.language_sub_menu li span {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #ececec;
  border-radius: 50%;
  left: 17px;
  margin-top: -3px;
}
/* -------------------------------- scrollbar ------------------------------- */
.language_sub_menu::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
.language_sub_menu::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 20px;
}
