.language {
  position: relative;
  margin-top: 18px;
}
.language_icon_btn img {
  width: 30px;
  height: 30px;
}
.language_icon_btn:focus ~ .language_sub_menu {
  visibility: visible;
}
.language_sub_menu {
  visibility: hidden;
  position: absolute;
  width: 160px;
  height: 300px;
  top: 30px;
  right: -130px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
}
.language_sub_menu li {
  display: flex;
  direction: ltr;
  padding: 13px;
  margin: -7px -25px 6px 0;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.language_sub_menu li span {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #ececec;
  border-radius: 50%;
  left: 10px;
  margin-top: -3px;
}
.language_sub_menu li:hover span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -9px;
  border-radius: 16px 0 0 16px;
  padding: 8px 80px;
  height: 35px;
  background-color: #ececec48;
  transition: var(--transition);
}
.language_sub_menu li:hover {
  color: var(--mainColor);
  transition: var(--transition);
}
/* -------------------------------- scrollbar ------------------------------- */
.language_sub_menu::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
.language_sub_menu::-webkit-scrollbar-thumb {
  background-color: var(--grayHover);
  border-radius: var(--borderRadius);
}
