.notification {
  position: relative;
  margin-top: 13px;
}
.notification_btn {
  position: relative;
  font-size: 31px;
  margin-right: 20px;
  color: var(--grayColor);
}
.notification_btn::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--mainColor);
}
.notification_btn:focus {
  color: #000;
}
.notification_btn:focus ~ .notification_sub_menu {
  display: block !important;
}
.notification_sub_menu {
  display: none !important;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  z-index: 11;
}
.notification_sub_menu_list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--grayColor);
  cursor: pointer;
}
.notification_sub_menu_list div:nth-child(1) i {
  font-size: 25px;
  padding-left: 20px;
}
.notification_sub_menu_list p {
  margin-top: 10px;
}
.notification_sub_menu_list i {
  color: var(--grayColor);
  margin-top: 6px;
}
.notification_sub_menu_list:hover {
  background-color: var(--grayHover);
  transition: var(--transition);
}
.notification_sub_menu_list:first-child {
  border-radius: 16px 16px 0 0;
}
.notification_sub_menu_list_active {
  color: #000;
}
.notification_sub_menu_list_active i {
  color: var(--mainColor) !important;
}
.notification_sub_menu_list_show_all {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 5px 0;
  border-radius: 0 0 16px 16px;
  justify-content: center;
  cursor: pointer;
}
.notification_sub_menu_list_show_all:hover {
  background-color: var(--mainColor);
  transition: var(--transition);
}
