.search_result {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 1053px;
  flex-direction: column;
  background-color: #fff;
  padding-top: 20px;
  box-shadow: var(--boxShadow);
  border-radius: 0 0 16px 16px;
}
.search_result_item {
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
}
.search_result_item div:nth-child(1) p {
  margin: 25px 15px 0 0;
  font-size: 13px;
  font-weight: 600;
}
.search_result_item div:nth-child(1) p span {
  color: var(--grayColor);
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.search_result_item i {
  position: relative;
  color: var(--grayColor);
  right: -10px !important;
  top: 0px;
}
.search_result_item:hover {
  background-color: var(--grayHover);
  transition: var(--transition);
}
.search_result_item:last-child:hover {
  border-radius: 0 0 16px 16px;
}
.search_result_notice {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 25px;
}
.search_result_notice a {
  color: var(--mainColor);
}
